@model IEnumerable<BattleShip.Models.Board.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.playerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.playerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.playerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.playerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
